= stylesheet_link_tag    "ra-keyboard", media: "all", "data-turbolinks-track" => true
= javascript_include_tag "ra-keyboard", "data-turbolinks-track" => true
- content_for :title, t(:index_title)
- content_for :description, t(:index_description)
.text-center.row
  .col-md-2.my-badge
    %a{ :href => 'https://play.google.com/store/apps/details?id=ru.rabotyaga.baranov' }
      %img{ :alt => 'Загрузите на Google Play', :src => 'https://developer.android.com/images/brand/ru_generic_rgb_wo_45.png' }
  .col-md-8
    %h3 Большой арабско-русский словарь
    %h4 с транскрипциями
  .col-md-2.my-badge
    %a{ :href => 'https://itunes.apple.com/ru/app/bol-soj-arabsko-russkij-slovar/id1021251680?mt=8' }
      = image_tag('app_store_badge.svg', alt: 'Загрузите в App Store')
.text-center.row
  .col-md-6.col-md-offset-3.padding-top-bottom
    :markdown
      **02/12:** **В [версию для Android](https://play.google.com/store/apps/details?id=ru.rabotyaga.baranov) и веб-версию добавлен поиск по мн.ч. и ж.р.**

      **30/08: [Версия для iOS](https://itunes.apple.com/ru/app/bol-soj-arabsko-russkij-slovar/id1021251680?mt=8) (iPhone/iPad/iPod touch) обновлена**

      **24/08: Вышла [версия для Apple Dictionary](http://bars.org.ru/apple_dictionary)**

  .col-md-8.col-md-offset-2
    = form_tag("/search", method: "get") do
      .input-group.input-group-lg
        = text_field_tag(:q, nil, class: 'form-control search-box', dir: 'rtl', id: 'search_box', placeholder: t(:search_for))
        %span.input-group-btn
          = submit_tag(t(:do_search), class: 'btn btn-info')
      = hidden_field_tag :input_lang, params[:input_lang]
      = hidden_field_tag :search_type, params[:search_type]
    .btn-group{role: "group", "aria-label": t(:input_lang)}
      = button_tag t(:arru), :class => "btn btn-primary", :id => "arru"
      = button_tag t(:ruar), :class => "btn btn-default", :id => "ruar"
    .btn-group{role: "group", "aria-label": t(:search_type)}
      = button_tag t(:search_any), :class => "btn btn-primary", :id => "search_any"
      = button_tag t(:search_exact), :class => "btn btn-default", :id => "search_exact"
    #ra-keyboard.center-block
    #support.center-block
      = render "yandex_support"

:javascript

  $('#ruar').click( function() {
    $("#input_lang").attr("value", "ru");
    keyboard.switchLayoutRu();
    $('#arru').addClass("btn-default");
    $('#arru').removeClass("btn-primary");
    $('#ruar').addClass("btn-primary");
    $('#ruar').removeClass("btn-default");
    $('#search_box').focus();
  });

  $('#arru').click( function() {
    $("#input_lang").attr("value", "ar");
    keyboard.switchLayoutAr();
    $('#ruar').addClass("btn-default");
    $('#ruar').removeClass("btn-primary");
    $('#arru').addClass("btn-primary");
    $('#arru').removeClass("btn-default");
    $('#search_box').focus();
  });

  $('#search_any').click( function() {
    $("#search_type").attr("value", "any");
    $('#search_exact').addClass("btn-default");
    $('#search_exact').removeClass("btn-primary");
    $('#search_any').addClass("btn-primary");
    $('#search_any').removeClass("btn-default");
    $('#search_box').focus();
  });

  $('#search_exact').click( function() {
    $("#search_type").attr("value", "exact");
    $('#search_any').addClass("btn-default");
    $('#search_any').removeClass("btn-primary");
    $('#search_exact').addClass("btn-primary");
    $('#search_exact').removeClass("btn-default");
    $('#search_box').focus();
  });

  $('#search_box').autocomplete({ source: "#{autocomplete_path()}", minLength: 2 });