= stylesheet_link_tag    "ra-keyboard", media: "all", "data-turbolinks-track" => true
= javascript_include_tag "ra-keyboard", "data-turbolinks-track" => true
.text-center.row
  .col-md-6.col-md-offset-3.text-left
    :markdown
      **[Версия для Android](https://play.google.com/store/apps/details?id=ru.rabotyaga.baranov) обновлена:**

        * добавлены транскрипции;
        * добавлена возможность перелистывания словаря по корням вперед/назад;
        * результаты поиска сортируются по релевантности;
        * упрощен поиск для хамзованных букв: при вводе простого алифа находится также алиф-мадда, алиф-хамза; при вводе вав находится также и вав-хамза; при вводе алиф-максура находится также и йа-хамза;
        * корректировки в базе данных: исправление опечаток, порядка слов;
        * поиск стал работать быстрее.
  .col-md-6.col-md-offset-3
    = form_tag("/search", method: "get") do
      .input-group.input-group-lg
        = text_field_tag(:q, nil, class: 'form-control search-box', dir: 'rtl', id: 'search_box', placeholder: t(:search_for))
        %span.input-group-btn
          = submit_tag(t(:do_search), class: 'btn btn-info')
      = hidden_field_tag :input_lang, params[:input_lang]
      = hidden_field_tag :search_type, params[:search_type]
    %br
    #accordion.panel-group
      .panel.panel-default
        .panel-heading
          = link_to t(:search_options), '#collapseOne', :class => 'accordion-toggle', 'data-toggle' => 'collapse', 'data-parent' => '#accordion'
        #collapseOne.panel-collapse.collapse
          .panel-body
            %label.radio
              = radio_button_tag 'arru', 'arru', true
              = t(:arru)
            %label.radio
              = radio_button_tag 'arru', 'ruar'
              = t(:ruar)
            %hr
            %label.radio
              = radio_button_tag 'search', 'any', true
              = t(:search_any)
            %label.radio
              = radio_button_tag 'search', 'exact'
              = t(:search_exact)
    #ra-keyboard

:javascript

  $('#arru_ruar').click( function() {
    $("#input_lang").attr("value", "ru");
    $("#search_box").attr("dir", "ltr");
    keyboard.onEsc();
  });

  $('#arru_arru').click( function() {
    $("#input_lang").attr("value", "ar");
    $("#search_box").attr("dir", "rtl");
    keyboard.onEsc();
  });

  $('#search_any').click( function() {
    $("#search_type").attr("value", "any");
  });

  $('#search_exact').click( function() {
    $("#search_type").attr("value", "exact");
  });

  $('#search_box').autocomplete({ source: "#{autocomplete_path()}", minLength: 2 });