- content_for :title, t(:forgot_your_password?)
.row
  .col-md-6.col-md-offset-3
    %h2
      = t(:forgot_your_password?)
    = simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
      = f.error_notification
      = f.input :email, :required => true, :autofocus => true
      = f.button :submit, t(:send_me_reset_password_instructions)
    %br
    = render "devise/shared/links"