- content_for :title, t(:alphabet_title)
- content_for :description, t(:alphabet_description)
=javascript_include_tag 'alphabet'
.row.text-center
  .col-md-2{ :role => 'complementary' }
    %nav.hidden-print.hidden-xs.hidden-sm.affix{ :id => 'sidebar' }
      %ul.nav
        %li
          %a.btn{ :href => '#alphabet' } Алфавит
        %li
          %a.btn{ :href => '#harakat' } Огласовки
  .col-md-10{ :role => 'main' }
    %h3.anchor{ :id => 'alphabet' }= t(:arabic_alphabet)
    .text-left
      %p Арабский алфавит, арабское письмо, арабица — алфавит, используемый для записи арабского языка и (чаще всего в модифицированном виде) некоторых других языков, в частности фарси, пушту, урду и некоторых тюркских языков. Состоит из 28 букв и используется для письма справа налево. По-арабски называется хуруф (حُرُوف <em>[ḥurūf]</em>- мн.ч. от <a href="/articles?id=6778">حَرْف</a> <em>[ḥar̊f]</em>).
      %p Каждая из 28 букв, кроме буквы алиф, обозначает один согласный. Буквы алиф, вав и йа также используются для обозначения долгих гласных: алиф - для обозначения долгого "а", вав - для обозначения долгого "у", йа - для обозначения долгого "и". Начертание букв меняется в зависимости от расположения внутри слова (в начале, в конце или в середине). Заглавных букв нет. Все буквы одного слова пишутся слитно, за исключением шести букв (алиф, даль, заль, ра, зайн, вав), которые не соединяются со следующей буквой.
    .table-responsive
      %table.table.table-striped.table-hover.table-condensed.table-bordered
        %thead
          %tr
            %th= t(:nr)
            %th= t(:in_the_end)
            %th= t(:in_the_middle)
            %th= t(:in_the_beginning)
            %th= t(:separate)
            %th{ :colspan => 2 }= t(:name)
            %th= t(:transcription)
            %th= t(:numerical_value)
        %tbody
          - @alphabet.each do |a|
            %tr
              %th{ :scope => 'row' }= a.nr
              - if a.has_all_writings?
                %td.ar.danger= a.in_the_end
                %td.ar.warning= a.in_the_middle
                %td.ar.success= a.in_the_beginning
                %td.ar.info= a.letter
              - else
                %td.ar.warning{ :colspan => 2 }= a.in_the_end
                %td.ar.info{ :colspan => 2 }= a.letter
              %td.ar
                = a.ar_name
                %p.transcription= a.ar_name_transcription
              %td= a.name
              %td.ar
                %p.transcription= a.transcription
              %td= a.nv
    .text-left
      %p Кроме этих 28 букв в арабском письме используются еще три дополнительных знака, не являющихся самостоятельными буквами:
    .table-responsive
      %table.table.table-striped.table-hover.table-condensed.table-bordered
        %thead
          %tr
            %th= t(:nr)
            %th= t(:in_the_end)
            %th= t(:in_the_middle)
            %th= t(:in_the_beginning)
            %th= t(:separate)
            %th{ :colspan => 2 }= t(:name)
            %th= t(:transcription)
        %tbody
          %tr
            %th{ :scope => 'row', :rowspan => 5 } 1
            %td.ar{ :colspan => 4 } ﺀ
            %td.ar{ :rowspan => 5 }
              هَمْزَة‎
              %p.transcription [ham̊zaẗ‎]
            %td{ :rowspan => 5 } хамза
            %td.ar
              %p.transcription [ʾ]
          %tr
            %td.ar{ :colspan => 2 } ﺄ
            %td.ar{ :colspan => 2 } ﺃ
            %td.ar
              %p.transcription [ạ̉]
          %tr
            %td.ar{ :colspan => 2} ﺈ
            %td.ar{ :colspan => 2} ﺇ
            %td.ar
              %p.transcription [ạ̹]
          %tr
            %td.ar{ :colspan => 2} ﺆ
            %td.ar{ :colspan => 2} ﺅ
            %td.ar
              %p.transcription [w̉]
          %tr
            %td.ar ﺊ
            %td.ar ﺌ
            %td.ar ﺋ
            %td.ar ﺉ
            %td.ar
              %p.transcription [ỷ]
          %tr
            %th{ :scope => 'row' } 2
            %td.ar ﺔ
            %td{ :colspan => 2 }
            %td.ar ﺓ
            %td.ar
              تَاء مَرْبُوطَة
              %p.transcription [tāʾ mar̊būṭaẗ]
            %td та марбута
            %td.ar
              %p.transcription [ẗ] / [h]
          %tr
            %th{ :scope => 'row' } 3
            %td.ar ﻰ
            %td{ :colspan => 2 }
            %td.ar ﻯ
            %td.ar
              أَلِف مَقْصُورَة‎
              %p.transcription [ạảlif maq̊ṣūraẗ‎]
            %td алиф максура
            %td.ar
              %p.transcription [y̱] / [a]
    .text-left
      %ol
        %li Хамза (гортанная смычка) может писаться как отдельная буква, либо на букве-«подставке» (алиф, вав или йа). Способ написания хамзы определяется её контекстом в соответствии с рядом орфографических правил. Вне зависимости от способа написания, хамза всегда обозначает одинаковый звук.
        %li Та-марбута («завязанная та») является формой буквы та, хотя графически является буквой ха с двумя точками сверху. Служит для обозначения женского рода. Она пишется только в конце слова и только после огласовки фатха. Когда у буквы та-марбута нет огласовки (например, в конце фразы), она читается как буква ха, в остальных случаях - как т. Обычная форма буквы та называется та мафтуха (تاء مفتوحة‎‎, "открытая та").
        %li Алиф-максура («укороченный алиф») является формой буквы алиф. Она пишется только в конце слова и сокращается до краткого звука а перед алиф-васла следующего слова (в частности, перед приставкой "аль"). Обычная форма буквы алиф называется алиф мамдуда (ألف ممدودة, "удлиненный алиф").
    %h3.anchor{ :id => 'harakat' } Огласовки
    .text-left
      %p Огласовки, харака, харакат (حَرَكَات <em>[ḥarakāt]</em> - мн.ч. от <a href="/articles?id=6837">حَرَكَة </a><em>[ḥarakaẗ‎‎]</em>) - система надстрочных и подстрочных диакритических знаков, используемых в арабском письме для обозначения кратких гласных звуков и других особенностей произношения слова, не отображаемых буквами. Обычно в текстах огласовки не проставляются. Исключением являются: Коран, случаи, когда это необходимо для различения смысла, детские и учебные книги, словари и т. д.
    %h4.anchor.text-left{ :id => 'harakat-vowels'} Гласные
    .text-left
      Когда за согласным звуком следует гласный (краткий или долгий), над/под согласным ставится знак-огласовка, соответствующая следующему гласному. Если этот гласный долгий, то он дополнительно обозначается буквой алиф, вав или йа (т.н. харф мад — буква удлинения). Если после согласного звука нет гласного (перед следующим согласным либо в конце слова), то над ним ставится огласовка сукун.
      %ul
        %li
          <b>Фатха</b> (<a href="/articles?id=24609">فَتْحَة</a> <em>[fat̊ḥaẗ]</em>) - черта над буквой, условно обозначает звук "а".
        %li
          <b>Дамма</b> (<a href="/articles?id=19743">ضَمَّة</a> <em>[ḍamãẗ]</em>) - крючок над буквой, условно обозначает звук "у".
        %li
          <b>Кясра</b> (<a href="/articles?id=29241">كَسْرَة</a> <em>[kas̊raẗ]</em>) - черта под буквой, условно обозначает звук "и".
        %li
          <b>Сукун</b> (<a href="/articles?id=15504">سُكُون</a> <em>[sukūn]</em>) - кружок над буквой, обозначает отсутствие гласной.
      Русские обозначения звуков "а, и, у" условны, т.к. соответствующие огласовки могут также обозначать звуки "э", "о", или "ы".
    %h4.anchor.text-left{ :id => 'harakat-shadda' } Шадда
    .text-left
      Шадда (<a href="/articles?id=16891">شَدَّة</a> <em>[sẖadãẗ]</em>), или ташдид, представляет собой W-образный знак над буквой и обозначает удвоение буквы. Она ставится в двух случаях: для обозначения удвоенного согласного (то есть сочетания вида X-сукун-X), либо в сочетаниях из долгой гласной и согласной, обозначаемых одной и той же буквой (таких сочетаний два: ӣй и ӯв). Огласовка удвоенного согласного фатхой или даммой изображается над шаддой, кясрой — под буквой или под шаддой
    %h4.anchor.text-left{ :id => 'harakat-madda' } Мадда
    .text-left
      Мадда (<a href="/articles?id=31817">مَدَّة</a> <em>[madãẗ]</em>) представляет собой волнистую линию над буквой алиф и обозначает комбинацию хамза-алиф либо хамза-хамза, когда по правилам написания хамзы она пишется с подставкой алиф. Правила арабской орфографии запрещают следование в одном слове двух букв алиф подряд, поэтому в случаях, когда возникает такая комбинация букв, она заменяется буквой алиф-мадда.
    %h4.anchor.text-left{ :id => 'harakat-wasla' } Васла
    .text-left
      Васла (<a href="/articles?id=38188">وَصْلَة</a> <em>[waṣ̊laẗ]</em>) представляет собой знак, похожий на букву сад. Ставится над алифом в начале слова и обозначает, что этот алиф не произносится, если предыдущее слово заканчивалось на гласный звук. Буква алиф-васла встречается в небольшом количестве слов, а также в приставке "аль" (ال).
    %h4.anchor.text-left{ :id => 'harakat-tanwin' } Танвин
    .text-left
      Танвин (<a href="/articles?id=35966">تَنْوِين</a> <em>[tan̊wīn]</em>) - удвоение в конце слова одной из трёх огласовок. Образует падежное окончание, обозначающее неопределённое состояние.
    %h4.anchor.text-left{ :id => 'harakat-upper-alif' } Надстрочный алиф
    .text-left
      Знак в форме буквы алиф над текстом обозначает долгий звук а̄ в словах, где обычный алиф не пишется по орфографической традиции. Сюда относятся в основном имена собственные, а также несколько указательных местоимений. При полной огласовке надстрочный алиф ставится также над буквой алиф-максура, чтобы показать, что она читается как долгий а̄. Надстрочный алиф — очень редкий знак, и кроме как в Коране, он обычно не употребляется. В Коране же надстрочный алиф встречается иногда даже в тех словах, в которых по правилам пишется обычный алиф.
