.text-center.row
  .col-md-6
    %h4 Арабский алфавит
    = image_tag("arabski1.png")
    = image_tag("arabski2.png")
    = image_tag("arabski3.png")
    = image_tag("arabski4.png")
  .col-md-6
    %h4 Цифровые значения арабских букв
    = image_tag("alphabet_n.jpg")