- content_for :title, t(:alphabet_title)
- content_for :description, t(:alphabet_description)
.text-center.row
  .col-md-6
    %h4= t(:arabic_alphabet)
    = image_tag("arabski1.png", alt: t(:arabic_alphabet))
    = image_tag("arabski2.png", alt: t(:arabic_alphabet))
    = image_tag("arabski3.png", alt: t(:arabic_alphabet))
    = image_tag("arabski4.png", alt: t(:arabic_alphabet))
  .col-md-6
    %h4= t(:numerical_values_of_arabic_letters)
    = image_tag("alphabet_n.jpg", alt: t(:numerical_values_of_arabic_letters))