%table.table.table-striped.table-bordered.table-hover.table-condensed.with-footer
  %tr
    %th= t(:date)
    %th= t(:email)
    %th= t(:action)
    %th= t(:article)
    %th= t(:data)

  - @logs.each do |log|
    %tr
      %td= log.created_at.strftime("%Y/%m/%d %H:%M")
      %td= log.user.try(:email)
      %td= log.action.try(:name)
      %td
        - if log.article.try(:nr)
          = link_to "##{log.article.try(:nr)} (#{log.article.try(:ar_inf)})", articles_path(:id => log.article.id)
        - else
          = "##{log.article.try(:nr)} (#{log.article.try(:ar_inf)})"
      %td= log.data

%header.navbar.navbar-fixed-bottom
  %nav.navbar-inner
    .container
      = paginate @logs
