%ul.nav.navbar-nav
  %li{ :class => (params[:controller] == "alphabet" ? 'active' : '') }
    = link_to t(:alphabet), alphabet_index_path
  %li{ :class => (params[:controller] == "index" ? 'active' : '') }
    = link_to t(:search), root_path
  %li{ :class => (params[:controller] == "articles" ? 'active' : '') }
    = link_to t(:browse_dictionary), articles_path
%ul.nav.navbar-nav.navbar-right
  - if user_signed_in?
    %li.dropdown.small-font.green-text{ :class => (params[:controller] == "logs" ? 'active' : '' ) }
      = link_to t(:logs), logs_path
  - if current_user.try(:is_admin?)
    %li.dropdown.small-font.red-text{ :class => (params[:controller] == "accounts" ? 'active' : '' ) }
      = link_to t(:manage_accounts), accounts_path
  %li.dropdown.small-font{ :class => (params[:controller] == "about" ? 'active' : '') }
    = link_to t(:about), about_index_path
  - if user_signed_in?
    %li.dropdown.small-font
      = link_to t(:sign_out), destroy_user_session_path, :method => 'delete'
  - else
    %li.dropdown.small-font{ :class => (params[:controller] == "devise/sessions" ? 'active' : '') }
      = link_to t(:sign_in), new_user_session_path
